PORT=5000
VERIFY_TOKEN=oorvasi_verify_123
WHATSAPP_TOKEN=PASTE_META_PERMANENT_ACCESS_TOKEN_HERE
PHONE_NUMBER_ID=PASTE_WHATSAPP_PHONE_NUMBER_ID_HERE
WEBSITE_URL=https://oorvashee-arz7zp4y6-risenexts-projects.vercel.app
